.theme_exo {
  color :midnightblue;
  font-weight:bold;
  font-size:large;
}

.sacdos {
  color: darkorange;
  font-size : 72pt;
}

.box {
  line-height: 1.1;
  font-family: monospace;
}

.barre {
  position: relative;
}
.barre:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

.pile-o {
  font-family: monospace;
  writing-mode: vertical-lr;
  text-orientation: upright;
  border-left: 2pt solid  black   ;
  border-right: 2pt solid  black   ;
  border-bottom: 2pt solid  black   ;
  padding-bottom: 5pt;
}

table.jeuvie {
  display: inline-block;
  font-family: monospace;
  border-collapse: collapse;
  padding-right: 25pt;
  padding-left: 25pt;
}

.cellule {
  font-weight: bold;
  font-family: monospace;
  color :darkgreen;
  font-size: 18pt;
}

table.jeuvie tr td
{
border-top: 2pt solid #777777;
border-left: 2pt solid #777777;
border-right: 2pt solid #777777;
border-bottom: 2pt solid #777777;
padding-right : 2pt;
padding-left : 2pt;
height: 30px;
width: 30px;
text-align: center;
vertical-align: middle;
}

table.data {
  border-collapse: collapse;
}

table.data tr
{
border : 1pt solid #777777;
}

table.data td
{
  font-family: monospace;
  width : 40px;
  text-align : right;
  border: 1pt solid #777777;
}

table.data th
{
  text-align : left;
  font-weight: bold;
  border: 1pt solid #777777;
}

table.file {
  font-family: monospace;
  border-collapse: collapse;
}


table.file tr td:first-child
{
border-top: 2pt solid #777777;
border-bottom: 2pt solid #777777;
padding-right : 6pt;
padding-left : 6pt;
}

table.file tr td:last-child
{
border-top: 2pt solid #777777;
border-bottom: 2pt solid #777777;
padding-right : 6pt;
padding-left : 6pt;
}



table.file tr td:not(:first-child):not(:last-child)
{
border-top: 2pt solid #777777;
border-left: 2pt solid #777777;
border-right: 2pt solid #777777;
border-bottom: 2pt solid #777777;
padding-right : 6pt;
padding-left : 6pt;
}


table.pile{
  font-family: monospace;
  border-collapse: collapse;
}

table.pile td
{padding-right: 6pt;
padding-left: 6pt;}

table.pile tr:not(:first-child)
{border-top: 2pt solid #777777;
  border-left: 2pt solid #777777;
  border-right: 2pt solid #777777;
  border-bottom: 2pt solid #777777;
  padding-right : 6pt;
  padding-left : 6pt;
}

table.pile tr:first-child
{ 
  border-left: 2pt solid #777777;
  border-right: 2pt solid #777777;
  border-bottom: 2pt solid #777777;
  padding-right : 6pt;
  padding-left : 6pt;
}

.encadre{
  color: black;
  background-color: #DDDDDD;
  white-space: nowrap;
  border-style: solid;
  border-width: 1pt;
  border-color : black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.vert {
  color : limegreen;
}


.orange {
  color : #ff9100;
}

.rouge {
  color : #f50057;
}

.navy {
  color : navy;
}

.textcenter {
  text-align: center ;
}

.quote {
  font-style: italic;
  color :#777777;
  width : 340px;
  float: right;
  text-align: right;
  clear: both;
}

.author {
  float: right;
  clear: both;

}

.source {
  float: right;
  font-size: small;
  clear: both;
}

.objet {
  color: blue;
  font-size : larger;
}

:root > * {
    --md-primary-fg-color:#561414;
    --md-accent-fg-color: #cc2020;
  }
  
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgcentre{
  display: block;
  margin: 0 auto;
}

.md-typeset h1 {
    color: darkblue;
    font-weight: bold;
  }

.md-typeset h2 {
    font-weight: 500;
    clear : both
  }

  .md-typeset h3 {
    color: darkblue;
  }

.numchapitre {
  color : yellow;
  background-color: darkblue;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 6px;
  text-align: left;
  display: inline-block;
}

.numeval {
  color : yellow;
  background-color: darkblue;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 2px;
  text-align: left;
  font-variant: small-caps;
}

  .md-typeset h2 {
    color: darkred;
  }


.histoire {
    color : maroon
}

.projet {
    color : forestgreen
}

.python {
    color : #306998
}

.typesconstruits {
    color : rebeccapurple
}

@media print {
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

:root {
  --md-admonition-icon--fabquestion: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"/></svg>')
}
.md-typeset .admonition.fabquestion,
.md-typeset details.fabquestion {
  border-color: rgb(96, 80, 189);
}
.md-typeset .fabquestion > .admonition-title,
.md-typeset .fabquestion > summary {
  background-color: rgba(96, 80, 189, 0.1);
  border-color: rgb(96, 80, 189);
}
.md-typeset .fabquestion > .admonition-title::before,
.md-typeset .fabquestion > summary::before {
  background-color: rgb(96, 80, 189);
  -webkit-mask-image: var(--md-admonition-icon--fabquestion);
          mask-image: var(--md-admonition-icon--fabquestion);
}

:root {
  --md-admonition-icon--rappel: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784 9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"/></svg>')
}
.md-typeset .admonition.rappel,
.md-typeset details.rappel {
  border-color: rgb(96, 96, 96);
}
.md-typeset .rappel > .admonition-title,
.md-typeset .rappel > summary {
  background-color: rgba(96, 96, 96, 0.1);
  border-color: rgb(96, 96, 96);
}
.md-typeset .rappel > .admonition-title::before,
.md-typeset .rappel > summary::before {
  background-color: rgb(96, 96, 96);
  -webkit-mask-image: var(--md-admonition-icon--rappel);
          mask-image: var(--md-admonition-icon--rappel);
}


:root {
  --md-admonition-icon--aide: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm173.696 119.559-63.399 63.399c-10.987-18.559-26.67-34.252-45.255-45.255l63.399-63.399a218.396 218.396 0 0 1 45.255 45.255zM256 352c-53.019 0-96-42.981-96-96s42.981-96 96-96 96 42.981 96 96-42.981 96-96 96zM127.559 82.304l63.399 63.399c-18.559 10.987-34.252 26.67-45.255 45.255l-63.399-63.399a218.372 218.372 0 0 1 45.255-45.255zM82.304 384.441l63.399-63.399c10.987 18.559 26.67 34.252 45.255 45.255l-63.399 63.399a218.396 218.396 0 0 1-45.255-45.255zm302.137 45.255-63.399-63.399c18.559-10.987 34.252-26.67 45.255-45.255l63.399 63.399a218.403 218.403 0 0 1-45.255 45.255z"/></svg>')
}
.md-typeset .admonition.aide,
.md-typeset details.aide {
  border-color: rgb(77, 146, 77);
}
.md-typeset .aide > .admonition-title,
.md-typeset .aide > summary {
  background-color: rgba(77, 146, 77, 0.2);
  border-color: rgb(77, 146, 77);
}
.md-typeset .aide > .admonition-title::before,
.md-typeset .aide > summary::before {
  background-color: rgb(77, 146, 77);
  -webkit-mask-image: var(--md-admonition-icon--aide);
          mask-image: var(--md-admonition-icon--aide);
}



:root {
  --md-admonition-icon--lien: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z"/></svg>')
}
.md-typeset .admonition.lien,
.md-typeset details.lien {
  border-color: rgb(106, 38, 122);
}
.md-typeset .lien > .admonition-title,
.md-typeset .lien > summary {
  background-color: rgba(106, 38, 122, 0.1);
  border-color: rgb(106, 38, 122);
}
.md-typeset .lien > .admonition-title::before,
.md-typeset .lien > summary::before {
  background-color: rgb(106, 38, 122);
  -webkit-mask-image: var(--md-admonition-icon--lien);
          mask-image: var(--md-admonition-icon--lien);
}


:root {
  --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 16.47V7.39l-6 4.54M2.22 9.19a.858.858 0 0 1-.02-1.15l1.2-1.11c.2-.18.69-.26 1.05 0l3.42 2.61 7.93-7.25c.32-.32.87-.45 1.5-.12l4 1.91c.36.21.7.54.7 1.15v13.5c0 .4-.29.83-.6 1l-4.4 2.1c-.32.13-.92.01-1.13-.2l-8.02-7.3-3.4 2.6c-.38.26-.85.19-1.05 0l-1.2-1.1c-.32-.33-.28-.87.05-1.2l3-2.7"/></svg>')
}
.md-typeset .admonition.exercice,
.md-typeset details.exercice {
  border-color: rgb(21, 59, 6);
}
.md-typeset .exercice > .admonition-title,
.md-typeset .exercice > summary {
  background-color: rgb(21, 59, 6, 0.15);
  border-color: rgb(21, 59, 6);
}
.md-typeset .exercice > .admonition-title::before,
.md-typeset .exercice > summary::before {
  background-color: rgb(21, 59, 6);
  -webkit-mask-image: var(--md-admonition-icon--exercice);
          mask-image: var(--md-admonition-icon--exercice);
}


:root {
  --md-admonition-icon--retenir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5.5L18.5 3H17v6a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V3H5m7 1v5h3V4h-3m-5 8h10a1 1 0 0 1 1 1v6H6v-6a1 1 0 0 1 1-1z"/></svg>')
}
.md-typeset .admonition.retenir,
.md-typeset details.retenir {
  border-color: rgb(155, 34, 18);
}
.md-typeset .retenir > .admonition-title,
.md-typeset .retenir > summary {
  background-color: rgb(155,34,18, 0.2);
  border-color: rgb(155, 34, 18);
}
.md-typeset .retenir > .admonition-title::before,
.md-typeset .retenir > summary::before {
  background-color: rgb(155, 34, 18);
  -webkit-mask-image: var(--md-admonition-icon--retenir);
          mask-image: var(--md-admonition-icon--retenir);
}


:root {
  --md-admonition-icon--langagec: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m15.45 15.97.42 2.44c-.26.14-.68.27-1.24.39-.57.13-1.24.2-2.01.2-2.21-.04-3.87-.7-4.98-1.96-1.14-1.27-1.68-2.88-1.68-4.83C6 9.9 6.68 8.13 8 6.89 9.28 5.64 10.92 5 12.9 5c.75 0 1.4.07 1.94.19s.94.25 1.2.4l-.6 2.49-1.04-.34c-.4-.1-.87-.15-1.4-.15-1.15-.01-2.11.36-2.86 1.1-.76.73-1.14 1.85-1.18 3.34.01 1.36.37 2.42 1.08 3.2.71.77 1.7 1.17 2.99 1.18l1.33-.12c.43-.08.79-.19 1.09-.32z"/></svg>')
}
.md-typeset .admonition.langagec,
.md-typeset details.langagec {
  border-color: rgb(21, 59, 6);
}
.md-typeset .langagec > .admonition-title,
.md-typeset .langagec > summary {
  background-color: rgb(21,59,6, 0.2);
  border-color: rgb(21, 29, 6);
}
.md-typeset .langagec > .admonition-title::before,
.md-typeset .langagec > summary::before {
  background-color: rgb(21, 59, 6);
  -webkit-mask-image: var(--md-admonition-icon--langagec);
          mask-image: var(--md-admonition-icon--langagec);
}

:root {
  --md-admonition-icon--python: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>')
}
.md-typeset .admonition.python,
.md-typeset details.python {
  border-color: rgb(8, 43, 57);
}
.md-typeset .python > .admonition-title,
.md-typeset .python > summary {
  background-color: rgb(8, 43, 57,0.2);
  border-color: rgb(8, 43, 57);
}
.md-typeset .python > .admonition-title::before,
.md-typeset .python > summary::before {
  background-color: rgb(8, 43, 57);
  -webkit-mask-image: var(--md-admonition-icon--python);
          mask-image: var(--md-admonition-icon--python);
}

:root {
  --md-admonition-icon--ocaml: url('data:image/svg+xml;charset=utf-8,  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.186 21.63c-.085-.169-.186-.523-.254-.675-.067-.135-.27-.506-.37-.625-.22-.253-.27-.27-.338-.607-.119-.574-.405-1.587-.76-2.295-.186-.372-.49-.676-.76-.946-.236-.236-.776-.624-.877-.607-.895.169-1.165 1.046-1.586 1.738-.237.388-.473.709-.659 1.114-.168.371-.152.793-.439 1.114a2.95 2.95 0 0 0 -.624 1.097c-.034.084-.101.928-.186 1.13l1.317-.084c1.232.085.877.557 2.785.456l3.02-.101a5.372 5.372 0 0 0 -.27-.709zm8.776-20.084h-17.924a3.018 3.018 0 0 0 -3.021 3.02v6.583c.439-.152 1.046-1.08 1.249-1.3.337-.388.405-.894.574-1.198.388-.709.455-1.215 1.333-1.215.405 0 .574.101.844.473.186.253.523.742.675 1.063.186.371.473.86.608.962.1.067.185.135.27.169.135.05.253-.051.354-.119.118-.1.169-.286.287-.556.169-.389.338-.827.439-.996.169-.27.236-.608.422-.76.27-.236.641-.253.742-.27.557-.118.81.27 1.08.507.186.168.422.489.608.91.135.338.304.66.388.845.068.185.237.49.338.86.101.321.337.574.439.743 0 0 .152.405 1.03.777a7.5 7.5 0 0 0 .81.286c.388.135.759.119 1.231.068.338 0 .524-.49.676-.878.084-.236.185-.894.236-1.08.05-.185-.085-.32.034-.49.135-.185.219-.202.286-.438.17-.523 1.114-.54 1.654-.54.456 0 .389.439 1.148.287.439-.085.86.05 1.317.185.388.102.76.22.979.473.135.169.489.996.135 1.03.033.033.067.118.118.151-.085.321-.422.085-.625.051-.253-.05-.439 0-.692.118-.439.186-1.063.169-1.451.49-.32.27-.32.86-.473 1.198 0 0-.422 1.063-1.316 1.721-.237.17-.692.574-1.671.726-.439.068-.86.068-1.317.05-.219-.016-.438-.016-.658-.016-.135 0-.574-.017-.557.034l-.05.118a.6.6 0 0 0 .033.169c.017.1.017.185.034.27 0 .185-.017.388 0 .574.017.388.169.742.186 1.147.017.439.236.912.455 1.266.085.135.203.152.254.32.067.186 0 .406.033.608.118.794.355 1.637.71 2.363v.017c.438-.067.894-.236 1.468-.32 1.063-.153 2.531-.085 3.476-.17 2.397-.219 3.697.98 5.84.49v-17.755a3.043 3.043 0 0 0 -3.038-3.021zm-8.945 14.177c0-.034 0-.034 0 0zm-6.464 2.767c.169-.371.27-.777.405-1.148.135-.354.337-.86.692-1.046-.05-.05-.743-.068-.928-.085a7.4 7.4 0 0 1 -.608-.084 22.96 22.96 0 0 1 -1.148-.236c-.22-.051-.979-.321-1.13-.389-.389-.168-.642-.658-.929-.607-.185.034-.371.101-.49.287-.1.152-.134.422-.202.607-.084.203-.22.405-.32.608-.237.354-.625.675-.794 1.03-.033.084-.05.168-.084.253v4.067c.202.034.405.068.624.135 1.688.456 2.093.49 3.747.304l.152-.017c.118-.27.22-1.164.304-1.434.067-.22.152-.389.186-.591.033-.203 0-.405-.017-.59-.034-.49.354-.66.54-1.064z"/></svg>')
}
.md-typeset .admonition.ocaml,
.md-typeset details.ocaml {
  border-color: rgb(21, 59, 6);
}
.md-typeset .ocaml > .admonition-title,
.md-typeset .ocaml > summary {
  background-color: rgb(21,59,6, 0.2);
  border-color: rgb(21, 29, 6);
}
.md-typeset .ocaml > .admonition-title::before,
.md-typeset .ocaml > summary::before {
  background-color: rgb(21, 59, 6);
  -webkit-mask-image: var(--md-admonition-icon--ocaml);
          mask-image: var(--md-admonition-icon--ocaml);
}

.text-input-ok {
  border: 2px solid rgb(36,161,36);
  background-color: rgb(36,161,36,0.2);
  color: #rgb(36,161,36);
  padding: 5px;
}

.text-input-bad {
  border: 2px solid rgb(240,00,87);
  background-color: rgb(240,00,87,0.12);
  color: rgb(240,00,87);
  padding: 5px;
}

.text-input-neutral {
  border: 2px solid #999999;
  background-color: #f2f2f2;
  color: #999999;
  padding: 5px;
}


.repbutton{
  color: black;
  background-color: #DDDDDD;
  border-style: solid;
  border-width: 1pt;
  border-color : black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}